# Python
__pycache__/
*.py[cod]
*$py.class

# 環境文件
.env
.venv
env/
venv/
ENV/

# 日誌文件
logs/
*.log

# 數據文件
data/*
!data/README.md
*.sqlite3
*.sqlite
*.db

# 配置文件
config.yaml

# IDE
.vscode/
.idea/
*.swp
*.swo 