chromadb>=0.6.3
google-generativeai>=0.8.4
sentence-transformers>=3.4.1
pyyaml>=6.0.2
langchain>=0.3.20
loguru>=0.7.3
typing-extensions>=4.12.2
numpy>=2.2.3
torch>=2.6.0
transformers>=4.49.0
scikit-learn>=1.6.1
scipy>=1.15.2
Pillow>=11.1.0